    
	@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

	
	body{
		background-color:hsl(0, 0%, 95%);

		font-family: 'Outfit', sans-serif;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}
	
	h1{font-weight:700; color:hsl(0, 0%, 95%);	font-size:19px;}
	
	p{ color: hsla(0, 0%, 100%, 0.75);
			font-size:11px;
			font-weight:300;
		}
	.container{
		display:flex;
		flex-direction:row;
		margin:auto;
		padding:none;
		border-radius:10%;
		font-family: 'Outfit', sans-serif;
		width:600px;
		height:300px;

	}
		
		#sedans{background-color:hsl(31, 77%, 52%);}
		#suvs{background-color:hsl(184, 100%, 22%);}
		#lux{background-color:hsl(179, 100%, 13%);}
		
	.box{
		padding:30px;
		display:flex;
		flex-direction:column;
		justify-content:space-between;
		align-items:left;
	}	
	.button{
		border: none;
		padding: 10px 18px white;
		font-size: 10px;
		background-color:hsl(0, 0%, 95%);
		text-align: center;
		display: inline-block;
		border-radius: 40%;
		width:55px;
		height:15px;
	}	
		
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }